<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev98>
            <general>
                <autoupdate>1</autoupdate>
            </general>
        </dev98>
    </default>
</config>