<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slavko98_dev98_grid_listing_data_source" xsi:type="string">Slavko98\Dev98\Model\ResourceModel\Post\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Slavko98\Dev98\Model\ResourceModel\Post\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">slavko98_dev98_post</argument>
            <argument name="resourceModel" xsi:type="string">Slavko98\Dev98\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>