<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="slavko98_dev98" frontName="slavko98_dev98">
            <module name="Slavko98_Dev98"/>
        </route>
    </router>
</config>